{% extends "layout.html" %}

{% block content %}
<form method="POST">
    {% if session['collection_name'] == 'blogs' %}
        <label>Title:</label>
        <input type="text" name="title" required>
        
        <label>Author:</label>
        <input type="text" name="author" required>
        
        <label>Image URL:</label>
        <input type="text" name="imageurl" required>
        
        <label>Description:</label>
        <textarea name="description" required></textarea>
        
        <label>Content:</label>
        <textarea name="content" required></textarea>
        
        <label>Date:</label>
        <input type="date" name="date" required>
        
        <label>Date String:</label>
        <input type="text" name="dateString" required>
        
        <label>Category:</label>
        <input type="text" name="category" required>
        
        <label>Pinned:</label>
        <input type="checkbox" name="pinned">
    {% elif session['collection_name'] == 'projects' %}
        <label>Image URL:</label>
        <input type="text" name="imageUrl" required>
        
        <label>Title:</label>
        <input type="text" name="title" required>
        
        <label>Date:</label>
        <input type="date" name="date" required>
        
        <label>Description:</label>
        <textarea name="description" required></textarea>
        
        <label>Link:</label>
        <input type="text" name="link" required>
        
        <label>Date String:</label>
        <input type="text" name="dateString" required>
    {% elif session['collection_name'] == 'certificates' %}
        <label>Date:</label>
        <input type="date" name="date" required>
        
        <label>Description:</label>
        <textarea name="description" required></textarea>
        
        <label>Image URL:</label>
        <input type="text" name="imageUrl" required>
        
        <label>Title:</label>
        <input type="text" name="title" required>
    {% endif %}
    <button type="submit">Create</button>
</form>
{% endblock %}
