{% extends "layout.html" %}

{% block content %}
<form method="POST">
    {% if session['collection_name'] == 'blogs' %}
        <label>Title:</label>
        <input type="text" name="title" value="{{ document.title }}" required>
        
        <label>Author:</label>
        <input type="text" name="author" value="{{ document.author }}" required>
        
        <label>Image URL:</label>
        <input type="text" name="imageurl" value="{{ document.imageurl }}" required>
        
        <label>Description:</label>
        <textarea name="description" required>{{ document.description }}</textarea>
        
        <label>Content:</label>
        <textarea name="content" required>{{ document.content }}</textarea>
        
        <label>Date:</label>
        <input type="date" name="date" value="{{ document.date }}" required>
        
        <label>Date String:</label>
        <input type="text" name="dateString" value="{{ document.dateString }}" required>
        
        <label>Category:</label>
        <input type="text" name="category" value="{{ document.category }}" required>
        
        <label>Pinned:</label>
        <input type="checkbox" name="pinned" {% if document.pinned %}checked{% endif %}>
    {% elif session['collection_name'] == 'projects' %}
        <label>Image URL:</label>
        <input type="text" name="imageUrl" value="{{ document.imageUrl }}" required>
        
        <label>Title:</label>
        <input type="text" name="title" value="{{ document.title }}" required>
        
        <label>Date:</label>
        <input type="date" name="date" value="{{ document.date }}" required>
        
        <label>Description:</label>
        <textarea name="description" required>{{ document.description }}</textarea>
        
        <label>Link:</label>
        <input type="text" name="link" value="{{ document.link }}" required>
        
        <label>Date String:</label>
        <input type="text" name="dateString" value="{{ document.dateString }}" required>
    {% elif session['collection_name'] == 'certificates' %}
        <label>Date:</label>
        <input type="date" name="date" value="{{ document.date }}" required>
        
        <label>Description:</label>
        <textarea name="description" required>{{ document.description }}</textarea>
        
        <label>Image URL:</label>
        <input type="text" name="imageUrl" value="{{ document.imageUrl }}" required>
        
        <label>Title:</label>
        <input type="text" name="title" value="{{ document.title }}" required>
    {% endif %}
    <button type="submit">Update</button>
</form>
{% endblock %}
