<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}">Select Database and Collection</a>
        <a href="{{ url_for('list_documents', db_name=session.get('db_name')) }}">Dashboard</a>
        <a href="{{ url_for('create') }}">Add New {{ session['collection_name'][:-1].capitalize() }}</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
